@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.generate-btn {
    background-color: rgb(13, 110, 253);
}

.addBtn {
    background-color: rgb(40, 167, 69);
}

/* medias */


@media screen and (max-width: 900px) {
        .vehicle-details {
            flex-direction: column;
        }
        .vehicle-details-container {
            height: fit-content;
        }
}

@media screen and (max-width: 610px) {
    .slot-selected {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}



@media screen and (max-width: 400px) {
    .header-compo {
        height: 8rem;
    }
}

